body {
    background-color: #f2f2f2;
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    text-align: center;
    margin: 0;
}
.Intro {
    font-size: 100px;
    color: black;
    font-family: georgia;
    text-align: left;
    margin-top: 5%;
}
.under-intro {
    font-size: 50px;
    color: black;
    font-family: georgia;
    text-align: left;
}
h2 {
    line-height: 2;
}
h3 {
    line-height: 2;
}
p {
    line-height: 2;
}
.navbar-logo-pic {
    height: 90px;
    width: 140px;
    background-color: white;
    border-width: 10%;
    border-style: solid;
    border-color: black;
    border-radius: 50%;
    text-align: left;
}
.navbar-logo {
    background-color:  #660000;
    width: auto;
    color: white;
    text-align: left;
}
.nav-tabs {
    background-color:  #660000;
    width: auto;
    display: inline-flex;
    color: white;
    text-align: left;
}
.nav-link {
    color: white;
}
.Home-pic {
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    min-height: 70vh;
    width: fill;
    background-color: purple;
    background-repeat: no-repeat;
    background-size: cover;
}
.skill-row {
    text-align: left;
    width: 50%;
    margin: 100px auto 100px auto;
}
.middle-container {
    background-color: white;
}
footer {
    background-color: #660000;
    height: 20%;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
}
.bottom-container {
    background-color: #660000;
    height: 13%;
    text-align: center;
    bottom: 0;
    width: 100%;
}
.contact-me {
    background-color: red;
    overflow-y: hidden;
    margin: 0;
}