body {
    background-color: white;
}
h1 {
    font-size: 10vh;
    text-align: center;
    color: #660000;
}
.Under {
    align-items: center;
}
.Logo {
    text-align: center;
}
.under-logo {
    align-items: center;
}