body {
    background-color: #151515;
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    text-align: center;
    margin: 0;
}
a {
    display: inline-block;
}
h1 {
    font-size: 3vw;
}
h4 {
    font-size: 100%;
    padding-top: 1%;
    font-family:'Times New Roman', Times, serif;
}
.navbar-logo-pic {
    height: 10vh;
    width: auto;
    background-color: white;
    border-width: 10%;
    border-style: solid;
    border-color: black;
    border-radius: 50%;
    text-align: left;
}
.navbar-logo {
    background-color:  #660000;
    width: auto;
    color: white;
    text-align: left;
}
.nav-tabs {
    background-color:  #660000;
    width: auto;
    display: inline-flex;
    color: white;
    text-align: left;
}
.nav-link {
    color: white;
}
.contact-box {
    background-color: #f2f2f2;
    margin: 7vh auto;
    margin-left: 5%;
    width: auto;
    min-width: 50vw;
    border-style: solid;
    border-width: 5%;
    border-radius: 10px;
    border-color: #660000;
}
.support-pic {
    height: auto;
    width: 40vw;
    border-style: solid;
    border-width: 5%;
    border-radius: 10px;
    border-color: #660000;
    margin: 7vh auto;
}
.other-pic {
    height: auto;
    width: 40vw;
    margin: 7vh auto;
    border-style: solid;
    border-width: 5%;
    border-radius: 10px;
    border-color: #660000;
}
.other-para {
    background-color: #f2f2f2;
    margin: 7vh auto;
    margin-left: 5%;
    width: 90%;
    border-style: solid;
    border-width: 5%;
    border-radius: 10px;
    border-color: #660000;
}
.contact-me {
    background-color: #660000;
    color: white;
    margin-top: 15vh;;
    overflow-y: hidden;
    padding-bottom: 1%;
    height: auto;
}
.contact-button {
    background-color: #f2f2f2;
}