body {
    background-color: #660000;
    color: #f2f2f2;
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    text-align: center;
    margin: 0;
}
.Intro {
    width: 95vw;
    height: auto;
    margin-bottom: 0;
    color: #660000;
    text-shadow: 0 0 5px white;
    letter-spacing: .03em;
    font-family: georgia;
    text-align: left;
    margin-top: 5%;
}
.under-intro {
    width: 95vw;
    height: auto;
    border-top: 0;
    margin-top: 0;
    color: #660000;
    text-shadow: 0 0 7px white;
    letter-spacing: .02em;
    font-family: georgia;
    text-align: left;
}
h1 {
    font-size: 7vw;
}
h5 {
    font-size: 5vw;
}
h2 {
    line-height: 2;
    font-size: 4vh;
}
h3 {
    line-height: 2;
}
h6 {
    font-size: 100%;
    padding-top: 1%;
    font-family:'Times New Roman', Times, serif;
}
p {
    line-height: 2;
    font-size: 2vh;
}
.navbar-logo-pic {
    height: 10vh;
    width: auto;
    background-color: white;
    border-width: 10%;
    border-style: solid;
    border-color: black;
    border-radius: 50%;
    text-align: left;
}
.navbar-logo {
    background-color:  #660000;
    width: auto;
    color: white;
    text-align: left;
}
.nav-tabs {
    background-color:  #660000;
    width: auto;
    display: inline-flex;
    color: white;
    text-align: left;
}
.nav-link {
    color: white;
}
.Home-pic {
    height: auto;
    padding: 5%;
    min-height: auto;
    width: 100vw;
    background-image: url(truck-hay-right.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: solid;
    border-width: auto;
    border-color: #660000; 
}
.skill-row {
    text-align: left;
    width: 50%;;
    margin: 10vh auto 10vh auto;
}
.middle-container {
    background-color: #151515;
    width: 101vw;
}
.profile {
    margin: auto 25% auto 25%;
}
.contact-me {
    background-color: #660000;
    width: 100vw;
    color: white;
    margin: 0;
    overflow-y: hidden;
    padding-bottom: 1%;
}
.contact-button {
    background-color: #f2f2f2;
}